<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{url_for('static', path='css/index.css')}}">
    <style>
        .fade-in {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

        /* 淡出效果 */
        .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
    </style>
</head>
<body>
    <h1>Task Manager</h1>
    <div id="taskForm">
        <input type="text" id="script_path" placeholder="Script Path" list="script_paths">
        <datalist id="script_paths">
            <option value="C:\Users\ytint\Desktop\fsdownload\media_group\twitter\search_last.py">
        </datalist>
        <input type="text" id="script_args" placeholder="Script Args">
        <div class="button-group">
            <button class="create-task" onclick="createTask()">Create Task</button>
            <button class="get-all-task" onclick="getAllTasks()">Get All Tasks</button>
            <button class="delete-select-task" onclick="deleteSelectTasks()">Delete Select Tasks</button>
            <button class="execute-select-task" onclick="executeSelectTask()">Execute Select Tasks</button>
        </div>
    </div>
    <div id="taskList">
    </div>
    <div id="resultModal" class="modal">
        <div class="clove">
            <div class="modal-header">
                <h4>任务结果</h4>
            </div>
            <div class="modal-content">
                <h5>Stdout:</h5>
                <pre id="stdout"></pre>
                <h5>Stderr:</h5>
                <pre id="stderr"></pre>
            </div>
            <div class="modal-footer">
                <button onclick="closeModal()" class="close-button">关闭</button>
            </div>
        </div>
    </div>
    <script>
        const apiUrl = 'http://10.200.6.167:8000';
        getAllTasks();

        function createTask() {
            const script_path = document.getElementById("script_path").value;
            const script_args = document.getElementById("script_args").value;
            fetch(`${apiUrl}/create_task`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({script_path, script_args}),
            })
                    .then(response => response.json())
                    .then(data => {
                        // Handle task_id
                        function showMessage(index) {
                            if (index < data.length) {
                                const taskInfo = data[index];

                                // 创建成功消息元素
                                const successMessage = document.createElement("div");
                                successMessage.textContent = `任务 ID: ${taskInfo.task_id}, 关键词: ${taskInfo.task_keyword} 创建成功！`;
                                successMessage.className = "success-message fade-in top"; // 添加 fade-in 和 top 类
                                document.body.appendChild(successMessage);

                                // 一段时间后触发淡出效果并移除消息元素
                                setTimeout(() => {
                                    successMessage.classList.remove("fade-in");
                                    successMessage.classList.add("fade-out");

                                    // 在淡出完成后移除消息元素，并触发下一个消息
                                    successMessage.addEventListener("transitionend", () => {
                                        document.body.removeChild(successMessage);
                                        showMessage(index + 1); // 显示下一个消息
                                    });
                                }, 3000); // 5000毫秒（5秒）后触发淡出
                            } else {
                                // 所有消息都已显示完毕，可以执行其他操作
                                getAllTasks();
                            }
                        }

                        // 开始显示第一个消息
                        showMessage(0);
                        getAllTasks();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function getAllTasks() {
            fetch(`${apiUrl}/get_all_tasks`)
                    .then(response => response.json())
                    .then(data => {
                        // Populate task list
                        let taskList = document.getElementById("taskList");
                        taskList.innerHTML = "";
                        for (let i = 0; i < data.length; i++) {
                            let task = data[i];
                            let taskItem = document.createElement("div");
                            taskItem.className = "task-item";
                            taskItem.setAttribute("task_id", task.id)
                            taskItem.addEventListener('click', function () {
                                const checkbox = taskItem.querySelector('.task-checkbox');
                                checkbox.checked = !checkbox.checked; // 切换复选框的选中状态
                            });
                            taskItem.innerHTML = `
                            <input type="checkbox" class="task-checkbox" data-task-id="${task.id}">
                            <span>Task ID: ${task.id}</span>
                            <span>Key Word: ${task.script_args}</span>
                            <span>Script Path: ${task.script_path}</span>
                            <span class="task-status">Status: ${task.status}</span>
                            <button onclick="checkTaskStatus(${task.id}); event.stopPropagation();">Check Status</button>
                            <button onclick="executeTask(${task.id}); event.stopPropagation();">执行任务</button>
                            <button onclick="getResults(${task.id}); event.stopPropagation();">获取结果</button>
                            <button onclick="deleteTask(${task.id}); event.stopPropagation();">删除任务</button>
                        `;
                            taskList.appendChild(taskItem);
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function executeTask(taskId) {
            fetch(`${apiUrl}/execute_task/${taskId}`, {
                method: 'POST',
            })
                    .then(response => response.json())
                    .then(data => {
                        // Handle response, such as updating the UI to reflect the new status
                        console.log(data);
                        getAllTasks();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function executeSelectTask() {
            let taskIds = [];
            let taskCheckboxes = document.querySelectorAll(".task-checkbox");
            for (let i = 0; i < taskCheckboxes.length; i++) {
                if (taskCheckboxes[i].checked) {
                    taskIds.push(parseInt(taskCheckboxes[i].getAttribute("data-task-id")));
                }
            }
            let data = JSON.stringify({'task_ids': taskIds})
            console.log(data)
            fetch(`${apiUrl}/execute_selected_tasks`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: data,
            })
                    .then(response => response.json())
                    .then(data => {
                        // Handle response, such as updating the UI to reflect the new status
                        console.log(data);
                        getAllTasks();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function deleteSelectTasks(){
            let taskIds = [];
            let taskCheckboxes = document.querySelectorAll(".task-checkbox");
            for (let i = 0; i < taskCheckboxes.length; i++) {
                if (taskCheckboxes[i].checked) {
                    taskIds.push(parseInt(taskCheckboxes[i].getAttribute("data-task-id")));
                }
            }
            let data = JSON.stringify({'task_ids': taskIds})
            console.log(data)
            fetch(`${apiUrl}/delete_selected_tasks`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: data,
            })
                    .then(response => response.json())
                    .then(data => {
                        // Handle response, such as updating the UI to reflect the new status
                        console.log(data);
                        getAllTasks();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });

        }

        function checkTaskStatus(taskId) {
            fetch(`${apiUrl}/check_status/${taskId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Handle response, such as updating the UI to reflect the new status
                        document.querySelector(`.task-item[task_id='${taskId}']`).querySelector(".task-status").textContent='Status: '+data['status']
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function getResults(taskId) {
            fetch(`${apiUrl}/get_result/${taskId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Handle response, such as updating the UI to reflect the new status
                        if (data.result) {
                            document.getElementById('stdout').textContent = data.result.stdout;
                            document.getElementById('stderr').textContent = data.result.stderr;
                            showModal();
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }

        function showModal() {
            document.getElementById('resultModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('resultModal').style.display = 'none';
        }

        function deleteTask(taskId) {
            fetch(`${apiUrl}/delete_task/${taskId}`, {
                method: 'GET',
            })
                    .then(response => response.json())
                    .then(data => {
                        // Handle response, such as updating the UI to reflect the new status
                        console.log(data);
                        getAllTasks();
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
        }
    </script>
</body>
</html>
